/*======Main color: #3498db=========*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    background-color: #ffffff;
    color: #555;
    font-size: 25px;
    font-weight: 300;
    font-family: "Leto", "Arial", sans-serif;
    text-rendering: optimizeLegibility;
}

/*=========================*/
/*           MAIN-TOP     */
/*=========================*/

.main-top{
    background-image: url(image/main-image.jpg);
}

.title-image{
    height: 100px;
    padding: 5px;
}

a.navbar-link{
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: black;
}

.navbar-right li a{
    padding: 1000px;
}

.button-color{
    background-color: #1f2a80;
    color: black;
}

ul.active{
    background-color: black;
}


.hello{
    color: red;
    padding: 55px;
    margin-top: 400px;
}


.img{
    height: 50px;
}















